[submodule "ITUMIK_backend"]
	path = ITUMIK_backend
	url = https://github.com/rsemihkoca/ITUMIK_backend.git
[submodule "ITUMIK_manifests"]
	path = ITUMIK_manifests
	url = https://github.com/rsemihkoca/ITUMIK_manifests.git
[submodule "ITUMIK_frontend"]
	path = ITUMIK_frontend
	url = https://github.com/rsemihkoca/ITUMIK_frontend.git
[submodule "ITUMIK_mongo"]
	path = ITUMIK_mongo
	url = https://github.com/rsemihkoca/ITUMIK_mongo.git
[submodule "ITUMIK_esp32"]
	path = ITUMIK_esp32
	url = https://github.com/rsemihkoca/ITUMIK_esp32.git
